#body-header{
    height: 65vh;
    background-image: url(images/resumebackground2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.95;
    
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
section:nth-child(2n){
background-color: rgba(243, 241, 241, 0.986);
}
section:nth-child(2n+1){
    background-color: white;
}
section:last-child{
    background: linear-gradient(to right,rgb(128, 6, 241),rgb(86, 7, 122));
}
/*----header and icons-----------*/
#body-header h1{
    color: rgb(252, 247, 247);
    font-size: 3.2rem;
    font-family: sans-serif;
    
    
    text-transform: capitalize;
    font-weight: 700;
    
}
#name-social-container{
    margin-top: 20vh;
}
.social-icons li a i{
    border-radius: 30%;
    
    font-size: 2rem;
    padding: 5px;
    
}
.social-icons li a i:hover{
    /*box-shadow: 0px 0px 8px 8px#b4b4b4;*/
    box-shadow: 0px 0px 5px 5px ;
    color: white;
}
/*---common----------*/
.text-center{
    text-align: center;
}
.mb-75px{
    margin-bottom: 50px;
}

/*--------------horizontal-list-----------*/
.horizontal-list{
    
    list-style: none;
    
}
.horizontal-list li{
    display: inline-block;
    padding: 0px 10px;
}
.border-bottom li:hover{
    border-bottom: 2px solid rgb(235, 226, 226);
}
.horizontal-list li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ;
    font-size: 1.7rem;
    font-family: sans-serif;
    
    
}
.horizontal-list li a:hover{
    color: rgb(184, 181, 181);
    
}
/*----------------about------------------------*/
#about{
    
    height: auto;
    width: 100%;
    
}
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
    position: relative;
    
}
#my-image img{
   height: 100%;
   width: 100%;
    border: 4px solid rgb(247, 244, 244);
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px white;
    
}
#about p{
    font-size: 1.4rem;
    text-align: justify;
    font-family: sans-serif;
    padding-left: 13%;
    padding-right: 13%;
    font-style: normal;
    font-weight: 500;
    padding-top: 3%;
    color: #616161
}
#about p span{
    color: rgb(6, 6, 117);
    font-weight: 600;
}
/*------------skills---------------------*/
.section-heading{
padding:20px 20px 10px ;
width: auto;

font-weight: 500;
}
.section-heading span{
    font-size: 38px;
    color: rgb(9, 9, 160);
    margin-right: 0.5rem;
    display: inline-block;
    padding-top: 10px;
    font-family: sans-serif;

}
.section-display{
width: 80%;

height: auto;
display: flex;

flex-wrap: wrap;
justify-content: space-evenly;
padding: 20px;
}
.skill-progress{
    width: 12rem;
    height: 2.65rem;
    background-color: rgb(179, 176, 176);
    border-radius: 1.5rem;
    margin: 30px;
    
}
.skill-progress> div{
    box-shadow: 4px 0px 7px #5e5c5c;
}
/*---------percentage-----*/
.eighty-five{
    width: 75%;
    height: inherit;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    
}

.skill-name{
    padding-top: 9px;
}
.skill-name span{
    
    margin-left: 25px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
/*--------color----*/
.mb-blue{
    background-color: rgb(41, 41, 250);
}
.mb-pink{
    background-color: rgb(247, 73, 99);
}
.mb-green{
    background-color:rgb(42, 155, 42);
}
/*------------experience-------------------*/
.timeline{
position: relative;
width: 75%;
border: 2px solid black;
}
.timeline-box{
position: relative;
width: 40%;
left: 5%;
min-height: 150px;
border: 2px solid black;
margin :8px;
}.timeline-box:nth-child(2n)
{
    left: 55%;
}
/*--------education----------------*/
#education{
    height: 100px;
    display: flex;
    justify-content: center;
}
/*------portfolio----------*/
.p-image{
    height: 200px;
    width: 250px;
    padding: 30px;
    
    
    
}
.p-image img{
    height: inherit;
    width: inherit;
    
    
}
.p-image:hover{
    
    background-color: grey;
    opacity: 0.5;
}
/*-------------contact------------------------*/
.contact-subclass{
    height: 350px;
    max-width: 25rem;
    
    margin: 30px 30px 0 30px;
    

}
.contact-subclass form div{
    margin-top: 12px;

    
}
.contact-subclass input{
    width: 30em;
    height: 45px;
    
    background-color: inherit;
    border: 0;
    outline: none;
    
}
.contact-subclass textarea{
width: 30em;
height: 5rem;
border-bottom:5px solid white;
background-color: inherit;
}
.contact-subclass button{
    height: 3rem;
    width: 12rem;
    background-color: inherit;
    color: white;
    size: 9rem;
    letter-spacing: 1px;
    border: 3px  solid white;
    margin-top: 12px;
}
.contact-subclass form{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.contact-subclass p,h3,div,span{
    color: white;
    font-family: sans-serif;
    
}
::placeholder{
    font: 1.3em sans-serif;
    color: white;
}
#get-in-touch{
    width: 28em;
    padding: 10px;
    text-align: justify;
    margin-top: -1px;
}


